<form>
    <label for="title">
        Description:
    </label>
    <input
        [(ngModel)]="newAppointmentTitle"
        type="text"
        id="title"
        placeholder="Description"
        name="title"
    >
    <label for="date">
        Date:
    </label>
    <input
        [(ngModel)]="newAppointmentDate"
        type="date"
        id="date"
        placeholder="Date"
        name="date"
    >
    <button (click)="addAppointment()">Add</button>
</form>

<ul>
    <li
        *ngFor="let appointment of appointments">
            <span id="{{ appointment.id }}">{{ appointment.title }} - {{ appointment.date | date: 'dd/MM/yyyy' }}</span>
    </li>
</ul>
